In [1]:
import pandas as pd

# Defining the periods for the calculations
sma_period = 30  # for Simple Moving Average
ema_period = 30  # for Exponential Moving Average
rsi_period = 14  # for Relative Strength Index
stoch_period = 14  # for Stochastic Oscillator
williams_r_period = 14  # for Williams %R

# This function will process and calculate indicators for a given stock data file
def process_stock_data(file_path):
    # Load the dataset
    stock_data = pd.read_csv(file_path)
    
    # Convert the 'Date' column to datetime format
    stock_data['Date'] = pd.to_datetime(stock_data['Date'])
    
    # Check for missing values in the dataset
    missing_values = stock_data.isnull().sum()
    
    # Simple Moving Average (SMA)
    stock_data['SMA_30'] = stock_data['Close'].rolling(window=sma_period).mean()

    # Exponential Moving Average (EMA)
    stock_data['EMA_30'] = stock_data['Close'].ewm(span=ema_period, adjust=False).mean()

    # Stochastic Oscillator (%K)
    lowest_low = stock_data['Low'].rolling(window=stoch_period).min()
    highest_high = stock_data['High'].rolling(window=stoch_period).max()
    stock_data['%K'] = ((stock_data['Close'] - lowest_low) / (highest_high - lowest_low)) * 100

    # Williams %R
    stock_data['%R'] = ((highest_high - stock_data['Close']) / (highest_high - lowest_low)) * -100

    # Relative Strength Index (RSI)
    delta = stock_data['Close'].diff()
    gain = (delta.where(delta > 0, 0)).rolling(window=rsi_period).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=rsi_period).mean()
    rs = gain / loss
    stock_data['RSI_14'] = 100 - (100 / (1 + rs))
    
    return stock_data, missing_values

# Now let's process the GOOG, MSFT, and AMZN data
goog_data, goog_missing = process_stock_data('/home/hossein/Bachelor_3/Third Year/First Semester/Paper/project/GOOG.csv')
msft_data, msft_missing = process_stock_data('/home/hossein/Bachelor_3/Third Year/First Semester/Paper/project/MSFT.csv')
amzn_data, amzn_missing = process_stock_data('/home/hossein/Bachelor_3/Third Year/First Semester/Paper/project/AMZN.csv')

# Display the first few rows with the calculated indicators for each stock
goog_data.head(35)

,Date,Open,High,Low,Close,Adj Close,Volume,SMA_30,EMA_30,%K,%R,RSI_14
0,2015-01-02,26.378078,26.490770,26.133251,26.168653,26.168653,28951268,NaN,26.168653,NaN,NaN,NaN
1,2015-01-05,26.091366,26.144720,25.582764,25.623152,25.623152,41196796,NaN,26.133459,NaN,NaN,NaN
2,2015-01-06,25.679497,25.738087,24.983908,25.029282,25.029282,57998800,NaN,26.062222,NaN,NaN,NaN
3,2015-01-07,25.280592,25.292759,24.914099,24.986401,24.986401,41301082,NaN,25.992814,NaN,NaN,NaN
4,2015-01-08,24.831326,25.105074,24.482782,25.065184,25.065184,67071641,NaN,25.932967,NaN,NaN,NaN
5,2015-01-09,25.168900,25.176876,24.671764,24.740576,24.740576,41427428,NaN,25.856039,NaN,NaN,NaN
6,2015-01-12,24.679243,24.730902,24.311253,24.560070,24.560070,46535413,NaN,25.772428,NaN,NaN,NaN
7,2015-01-13,24.873709,25.080141,24.552092,24.741074,24.741074,47409807,NaN,25.705889,NaN,NaN,NaN
8,2015-01-14,24.664783,25.092607,24.582508,24.974932,24.974932,44714427,NaN,25.658730,NaN,NaN,NaN
9,2015-01-15,25.209288,25.214773,24.819857,25.020805,25.020805,54316718,NaN,25.617574,NaN,NaN,NaN
10,2015-01-16,24.932049,25.339930,24.931549,25.334444,25.334444,45965854,NaN,25.599307,NaN,NaN,NaN
11,2015-01-20,25.480045,25.554838,25.231527,25.275606,25.275606,44640224,NaN,25.578423,NaN,NaN,NaN
12,2015-01-21,25.293058,25.892912,25.240702,25.831081,25.831081,45374234,NaN,25.594724,NaN,NaN,NaN
13,2015-01-22,26.002609,26.743076,25.913855,26.646341,26.646341,53538588,NaN,25.662570,96.022120,-3.977880,56.016076
14,2015-01-23,26.706179,27.034277,26.577032,26.923580,26.923580,45634948,NaN,25.743926,95.934777,-4.065223,58.887067
15,2015-01-26,26.852776,26.876211,26.410990,26.687229,26.687229,30874534,NaN,25.804784,87.255052,-12.744948,63.509739
16,2015-01-27,26.425947,26.462349,25.838560,25.860500,25.860500,38080263,NaN,25.808379,56.894357,-43.105643,59.964148
17,2015-01-28,26.067432,26.077904,25.430182,25.430182,25.430182,33676205,NaN,25.783979,41.091412,-58.908588,54.867641
18,2015-01-29,25.480045,25.484531,24.991386,25.463091,25.463091,83727244,NaN,25.763276,42.299958,-57.700042,54.408837
19,2015-01-30,25.722380,26.919592,25.705425,26.652824,26.652824,112127002,NaN,25.820667,85.991567,-14.008433,67.779317
20,2015-02-02,26.513706,26.577032,25.856510,26.351652,26.351652,56996054,NaN,25.854924,72.499028,-27.500972,66.291854
21,2015-02-03,26.327717,26.596977,26.091366,26.389547,26.389547,40773638,NaN,25.889415,73.703477,-26.296523,65.391074
22,2015-02-04,26.389547,26.560678,25.992140,26.066435,26.066435,33273101,NaN,25.900836,56.293657,-43.706343,60.023826
23,2015-02-05,26.117794,26.352650,26.033026,26.306774,26.306774,36995292,NaN,25.927026,65.401945,-34.598055,61.402438
24,2015-02-06,26.309767,26.786457,26.248434,26.477306,26.477306,35270570,NaN,25.962528,72.736137,-27.263863,60.397402
25,2015-02-09,26.327717,26.527170,26.228989,26.319241,26.319241,25355423,NaN,25.985541,64.998818,-35.001182,59.326282
26,2015-02-10,26.392538,26.811390,26.273865,26.773493,26.773493,34997823,NaN,26.036377,87.234561,-12.765439,58.576885
27,2015-02-11,26.691717,26.848787,26.595881,26.725126,26.725126,27555446,NaN,26.080812,84.866985,-15.133015,50.833349
28,2015-02-12,26.788952,27.166414,26.660454,27.072172,27.072172,32404724,NaN,26.144771,95.667090,-4.332910,51.548859
29,2015-02-13,27.093117,27.420218,27.082146,27.375341,27.375341,38006060,25.895736,26.224163,98.152322,-1.847678,57.074046
30,2015-02-17,27.266640,27.424706,26.980425,27.067686,27.067686,32336537,25.925704,26.278584,85.327865,-14.672135,63.893063
31,2015-02-18,26.995884,27.199823,26.801914,26.911116,26.911116,29061570,25.968636,26.319392,78.893446,-21.106554,68.189646
32,2015-02-19,26.828342,27.081148,26.826847,27.069181,27.069181,19782163,26.036633,26.367766,79.321298,-20.678702,69.138474
33,2015-02-20,27.082146,27.113062,26.716648,26.873718,26.873718,28887092,26.099544,26.400408,64.864851,-35.135149,53.449634
34,2015-02-23,26.729115,26.748512,26.398024,26.522682,26.522682,29157834,26.148127,26.408296,37.034384,-62.965616,52.629964

In [2]:
msft_data.head(35)

,Date,Open,High,Low,Close,Adj Close,Volume,SMA_30,EMA_30,%K,%R,RSI_14
0,2015-01-02,46.660000,47.419998,46.540001,46.759998,40.452744,27913900,NaN,46.759998,NaN,NaN,NaN
1,2015-01-05,46.369999,46.730000,46.250000,46.330002,40.080746,39673900,NaN,46.732256,NaN,NaN,NaN
2,2015-01-06,46.380001,46.750000,45.540001,45.650002,39.492462,36447900,NaN,46.662433,NaN,NaN,NaN
3,2015-01-07,45.980000,46.459999,45.490002,46.230000,39.994228,29114100,NaN,46.634535,NaN,NaN,NaN
4,2015-01-08,46.750000,47.750000,46.720001,47.590000,41.170780,29645200,NaN,46.696177,NaN,NaN,NaN
5,2015-01-09,47.610001,47.820000,46.900002,47.189999,40.824741,23944200,NaN,46.728037,NaN,NaN,NaN
6,2015-01-12,47.419998,47.540001,46.360001,46.599998,40.314331,23651900,NaN,46.719776,NaN,NaN,NaN
7,2015-01-13,46.970001,47.910000,46.060001,46.360001,40.106701,35270600,NaN,46.696565,NaN,NaN,NaN
8,2015-01-14,45.959999,46.240002,45.619999,45.959999,39.760643,29719600,NaN,46.649045,NaN,NaN,NaN
9,2015-01-15,46.220001,46.380001,45.410000,45.480000,39.345394,32750800,NaN,46.573622,NaN,NaN,NaN
10,2015-01-16,45.310001,46.279999,45.169998,46.240002,40.002884,35695300,NaN,46.552099,NaN,NaN,NaN
11,2015-01-20,46.299999,46.650002,45.570000,46.389999,40.132648,36161900,NaN,46.541640,NaN,NaN,NaN
12,2015-01-21,45.939999,46.139999,45.480000,45.919998,39.726040,39081100,NaN,46.501535,NaN,NaN,NaN
13,2015-01-22,46.380001,47.139999,46.080002,47.130001,40.772820,35898000,NaN,46.542081,71.532904,-28.467096,52.387117
14,2015-01-23,47.360001,47.389999,46.799999,47.180000,40.816093,26211600,NaN,46.583237,73.357684,-26.642316,52.692322
15,2015-01-26,47.000000,47.130001,46.240002,47.009998,40.669018,42525500,NaN,46.610770,67.153236,-32.846764,54.509256
16,2015-01-27,42.950001,43.200001,42.110001,42.660000,36.905777,169164000,NaN,46.355881,9.482743,-90.517257,36.663684
17,2015-01-28,42.740002,42.790001,41.160000,41.189999,35.634052,84507100,NaN,46.022599,0.444430,-99.555570,29.173555
18,2015-01-29,40.930000,42.119999,40.790001,42.009998,36.343449,63585300,NaN,45.763721,17.134792,-82.865208,25.865047
19,2015-01-30,41.549999,41.580002,40.349998,40.400002,34.950619,78004900,NaN,45.417675,0.661428,-99.338572,23.414258
20,2015-02-02,40.590000,41.369999,40.230000,41.279999,35.711914,50352500,NaN,45.150728,13.671862,-86.328138,29.632458
21,2015-02-03,41.630001,41.930000,41.049999,41.599998,35.988739,52082400,NaN,44.921649,19.134053,-80.865947,31.887349
22,2015-02-04,41.939999,42.209999,41.360001,41.840000,36.196392,41614800,NaN,44.722833,22.486037,-77.513963,34.129428
23,2015-02-05,42.220001,42.639999,41.860001,42.450001,36.724102,36548200,NaN,44.576198,31.005605,-68.994395,38.443937
24,2015-02-06,42.680000,42.790001,42.150002,42.410000,36.689499,34616600,NaN,44.436444,30.446932,-69.553068,34.543974
25,2015-02-09,42.240002,42.740002,42.209999,42.360001,36.646236,31381100,NaN,44.302480,29.748621,-70.251379,33.604562
26,2015-02-10,42.740002,42.770000,42.180000,42.599998,36.853867,29670700,NaN,44.192642,33.100535,-66.899465,36.235482
27,2015-02-11,42.650002,42.650002,42.209999,42.380001,36.663544,38262500,NaN,44.075697,30.027951,-69.972049,28.545596
28,2015-02-12,42.660000,43.090000,42.509998,43.090000,37.277771,33268800,NaN,44.012104,41.449269,-58.550731,32.566052
29,2015-02-13,43.380001,43.869999,43.150002,43.869999,37.952557,40264900,44.472000,44.002936,100.000000,-0.000000,37.277136
30,2015-02-17,43.970001,44.000000,43.189999,43.580002,37.969975,33695700,44.366000,43.975650,88.859469,-11.140531,55.555578
31,2015-02-18,43.630001,43.700001,43.389999,43.529999,37.926422,27111700,44.272666,43.946898,87.533130,-12.466870,67.055428
32,2015-02-19,43.180000,43.529999,43.049999,43.500000,37.900280,27603400,44.201000,43.918066,86.737401,-13.262599,62.273521
33,2015-02-20,43.509998,43.880001,43.290001,43.860001,38.213943,29721100,44.122000,43.914320,96.286499,-3.713501,85.892173
34,2015-02-23,43.700001,44.189999,43.650002,44.150002,38.466606,32518800,44.007333,43.929525,98.726210,-1.273790,83.924425

In [3]:
amzn_data.head(35)

,Date,Open,High,Low,Close,Adj Close,Volume,SMA_30,EMA_30,%K,%R,RSI_14
0,2015-01-02,15.629000,15.737500,15.348000,15.426000,15.426000,55664000,NaN,15.426000,NaN,NaN,NaN
1,2015-01-05,15.350500,15.419000,15.042500,15.109500,15.109500,55484000,NaN,15.405581,NaN,NaN,NaN
2,2015-01-06,15.112000,15.150000,14.619000,14.764500,14.764500,70380000,NaN,15.364221,NaN,NaN,NaN
3,2015-01-07,14.875000,15.064000,14.766500,14.921000,14.921000,52806000,NaN,15.335626,NaN,NaN,NaN
4,2015-01-08,15.016000,15.157000,14.805500,15.023000,15.023000,61768000,NaN,15.315456,NaN,NaN,NaN
5,2015-01-09,15.074000,15.143500,14.834000,14.846500,14.846500,51848000,NaN,15.285201,NaN,NaN,NaN
6,2015-01-12,14.878000,14.925500,14.464000,14.570500,14.570500,68428000,NaN,15.239091,NaN,NaN,NaN
7,2015-01-13,14.874000,15.075000,14.661500,14.737000,14.737000,82728000,NaN,15.206698,NaN,NaN,NaN
8,2015-01-14,14.596500,14.795500,14.325000,14.663500,14.663500,110774000,NaN,15.171653,NaN,NaN,NaN
9,2015-01-15,14.700000,14.800000,14.341000,14.347500,14.347500,88384000,NaN,15.118482,NaN,NaN,NaN
10,2015-01-16,14.314000,14.539500,14.262500,14.537000,14.537000,69564000,NaN,15.080967,NaN,NaN,NaN
11,2015-01-20,14.629500,14.668000,14.319500,14.472000,14.472000,61502000,NaN,15.041679,NaN,NaN,NaN
12,2015-01-21,14.482000,15.300000,14.363000,14.862500,14.862500,201302000,NaN,15.030119,NaN,NaN,NaN
13,2015-01-22,15.000000,15.612500,15.000000,15.516000,15.516000,107252000,NaN,15.061466,84.983051,-15.016949,51.394484
14,2015-01-23,15.404000,15.846500,15.386000,15.619500,15.619500,89928000,NaN,15.097468,85.669192,-14.330808,52.904969
15,2015-01-26,15.591000,15.650000,15.376000,15.483000,15.483000,63394000,NaN,15.122341,77.051768,-22.948232,55.927631
16,2015-01-27,15.315000,15.512000,15.131500,15.337500,15.337500,58406000,NaN,15.136223,67.866162,-32.133838,59.708573
17,2015-01-28,15.490500,15.575500,15.190000,15.195500,15.195500,61276000,NaN,15.140047,58.901515,-41.098485,54.673932
18,2015-01-29,15.236500,15.640000,14.966500,15.589000,15.589000,173132000,NaN,15.169012,83.743687,-16.256313,58.767038
19,2015-01-30,17.316000,17.975000,17.037001,17.726500,17.726500,477122000,NaN,15.334011,93.306397,-6.693603,77.751012
20,2015-02-02,17.502501,18.250000,17.500500,18.223499,18.223499,204638000,NaN,15.520429,99.335398,-0.664602,83.761550
21,2015-02-03,18.014500,18.391001,18.010500,18.177500,18.177500,124252000,NaN,15.691853,94.828607,-5.171393,82.521990
22,2015-02-04,17.919001,18.375000,17.911501,18.237499,18.237499,83398000,NaN,15.856089,96.281895,-3.718105,83.870366
23,2015-02-05,18.299999,18.940001,18.295000,18.694500,18.694500,144952000,NaN,16.039212,94.751450,-5.248550,90.123700
24,2015-02-06,18.743500,18.799500,18.550501,18.714001,18.714001,77848000,NaN,16.211779,95.108756,-4.891244,89.803714
25,2015-02-09,18.549999,18.720501,18.360001,18.528000,18.528000,54492000,NaN,16.361213,90.998451,-9.001549,87.779434
26,2015-02-10,18.559500,18.715000,18.425501,18.650000,18.650000,45744000,NaN,16.508876,92.701625,-7.298375,87.135994
27,2015-02-11,18.561501,18.855000,18.555000,18.757000,18.757000,55730000,NaN,16.653916,95.394464,-4.605536,85.591917
28,2015-02-12,18.754999,18.925501,18.657499,18.858500,18.858500,55822000,NaN,16.796148,97.948887,-2.051113,85.585586
29,2015-02-13,18.920500,19.150000,18.850500,19.091499,19.091499,69502000,16.289317,16.944235,98.601625,-1.398375,88.821945
30,2015-02-17,18.886000,18.999500,18.633499,18.771500,18.771500,73464000,16.400833,17.062123,90.952552,-9.047448,85.607646
31,2015-02-18,18.688999,18.837000,18.642500,18.668501,18.668501,53012000,16.519467,17.165760,88.490522,-11.509478,86.305699
32,2015-02-19,18.674500,19.094000,18.671499,18.950001,18.950001,59076000,16.658983,17.280873,90.534828,-9.465172,85.977341
33,2015-02-20,18.931000,19.184999,18.792000,19.183001,19.183001,65160000,16.801050,17.403591,99.881389,-0.118611,76.323922
34,2015-02-23,19.172001,19.226999,18.900000,19.007000,19.007000,43540000,16.933850,17.507036,83.276371,-16.723629,66.019246

In [4]:
goog_data.to_csv('goog_data.csv', index=False)

In [5]:
msft_data.to_csv('msft_data.csv', index=False)

In [6]:
amzn_data.to_csv('amzn_data.csv', index=False)